/Datos/helloWorld/nbproject/private/
/Datos/helloWorld/build/
/Datos/Repaso/nbproject/private/
/Datos/Repaso/build/
/Datos/EjerciciosRepaso/nbproject/private/
/Datos/EjerciciosRepaso2/nbproject/private/
/Datos/EjerciciosRepaso2/build/
