/Datos/helloWorld/nbproject/private/
/Datos/helloWorld/build/
/Datos/Repaso/nbproject/private/
/Datos/Repaso/build/
/Datos/EjerciciosRepaso/nbproject/private/
/Datos/EjerciciosRepaso2/nbproject/private/
/Datos/EjerciciosRepaso2/build/
Interfaces/BernalMendez/__pycache__/Calendar_ui.cpython-38.pyc
Interfaces/BernalMendez/__pycache__/eventos.cpython-38.pyc
Interfaces/BernalMendez/__pycache__/var.cpython-38.pyc
Interfaces/BernalMendez/__pycache__/MainWindow_ui.cpython-38.pyc
/Datos/FicherosAula/nbproject/private/
/Datos/FicherosAula/build/
/Datos/EjerciciosXML/nbproject/private/
/Datos/EjerciciosXML/dist/
/Datos/EjerciciosXML/build/
/Datos/TareaUD1Ficheros/nbproject/private/
/Datos/TareaUD1Ficheros/build/
/Datos/PruebaConectores/nbproject/private/
/Datos/PruebaConectores/build/
/Datos/ExamenesRepaso/nbproject/private/
/Datos/ExamenesRepaso/build/
/Datos/Ejercicio1CristianBernal/nbproject/private/
/Datos/Ejercicio2CristianBernal/nbproject/private/
/Datos/Ejercicio3CristianBernal/nbproject/private/
/Datos/Ejercicio4CristianBernal/nbproject/private/
/Datos/Ejercicio1CristianBernal/build/
/Datos/Ejercicio2CristianBernal/build/
/Datos/Ejercicio3CristianBernal/build/
/Datos/2DAM_AD_UD2_Práctica1/nbproject/private/
/Datos/2DAM_AD_UD2_Practica2/nbproject/private/
/Datos/BernalMendez_Cristian_2DAM_AD_ExamenUD2/nbproject/private/
/Datos/BernalMendez_Cristian_2DAM_AD_Recuperacion1/nbproject/private/
/Datos/Tarea3_1_CristianBernal/nbproject/private/
/Datos/BDXML/nbproject/private/
/Datos/LibreriaHibernates_CristianBernal/nbproject/private/
/Datos/ExamenesRepaso/HibernatesRepaso/target/
/Datos/UD3/HibernateMany2ManyProject/target/
