/Datos/helloWorld/nbproject/private/
/Datos/helloWorld/build/
/Datos/Repaso/nbproject/private/
/Datos/Repaso/build/
/Datos/EjerciciosRepaso/nbproject/private/
/Datos/EjerciciosRepaso2/nbproject/private/
/Datos/EjerciciosRepaso2/build/
Interfaces/BernalMendez/__pycache__/Calendar_ui.cpython-38.pyc
Interfaces/BernalMendez/__pycache__/eventos.cpython-38.pyc
Interfaces/BernalMendez/__pycache__/var.cpython-38.pyc
Interfaces/BernalMendez/__pycache__/MainWindow_ui.cpython-38.pyc
/Datos/FicherosAula/nbproject/private/
/Datos/FicherosAula/build/
/Datos/EjerciciosXML/nbproject/private/
/Datos/EjerciciosXML/dist/
/Datos/EjerciciosXML/build/
/Datos/TareaUD1Ficheros/nbproject/private/
